.entry-form-button {
  padding: 20px 40px;
  @extend %button-typografy;
  border: none;
  outline: none;
  border-radius: 18px;
  background-color: var(--color-accent);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover {
    box-shadow: 0px 16px 48px -16px rgba(0, 0, 0, 0.6);
  }
  &:disabled {
    background-color: var(--color-secondary);
    box-shadow: none;
  }
}