.container {
  width: 100%;
  @media screen and (min-width: $mobile) {
    width: $mobile;
    margin: 0 auto;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}