.entry-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  @media screen and (min-width: $tablet) {
    width: 440px;
  }

  &__title {
    margin: 0 0 4px 0;
    @extend %label-typografy;
  }

  &__input {
    height: 16px;
    @extend %input-typografy;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__bottom-flex {
    margin: 0 0 32px 0;
    @media screen and (min-width: $mobile) {
      display: flex;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    overflow: hidden;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    outline: 1px solid var(--color-border);
  }

  &__label--medium {
    width: 209px;
    margin: 0 0 14px 0;
    @media screen and (min-width: $mobile) {
      margin: 0 14px 0 0;
    }
    @media screen and (min-width: $tablet) {
      width: 261px;
    }
  }

  &__label--small {
    width: 120px;
    @media screen and (min-width: $tablet) {
      width: 165px;
    }
  }

  &__label--mb {
    margin: 0 0 14px 0;
  }

    .entry-form__label-valid {
    outline: 1px solid var(--color-valid);
  }

    .entry-form__label-invalid {
    outline: 1px solid var(--color-error);
  }
}