:root {
  --color-primary: #0D1016;
  --color-background: #FFFFFF;
  --color-secondary: #AEB5C4;
  --color-border: #DADFE9;
  --color-accent: #2162E3;

  --color-valid: #00a318;
  --color-error: #f30000;
}