@import "./global/normalize.scss";
@import "./global/fonts.scss";
@import "./global/root.scss";
@import "./global/breakpoins.scss";
@import "./global/utils.scss";
@import "./components/container.scss";
@import "./components/section-entry.scss";
@import "./components/typografy.scss";
@import "./components/entry-form.scss";
@import "./components/input.scss";
@import "./components/button.scss";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primary);
}

#home-page {
  width: 100%;
  min-height: 100vh;
  background-color: orchid;
}