/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "./normalize.scss";
@import "./root.scss";
@import "./fonts.scss";

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary);
}

p {
  color: var(--color-on-surface);
}